<ion-header class="ion-no-border">
  <ion-toolbar> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/8.png"></ion-img>
    <ion-card-title> Verification </ion-card-title>
    <ion-card-content>
      <h2>Thank you for Registering</h2>
      <p>We have sent an email</p>
      <p> Please check your email</p>
      
      <div class="reset-btn-wrap">
        <ion-button fill="solid" shape= "round" class="resend-btn" [routerLink]="['/login-screen']"> Ok </ion-button>
  
      </div>
     
  
      
    </ion-card-content>
  </ion-card>
</ion-content>